version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend-api
    ports:
      - "3008:3008"
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: frontend-web
    ports:
      - "3000:80"
    restart: always
    depends_on:
      - backend
